:root {
  --background-color: #f6e6cb;
  --projects-page-color: #9e9d89;
  --about-page-color: #d8b384;
  --contact-page-color: #d0a582;
  --button-color: #f0ede8;
  --button-color-main: #9b480c;
  --default-color: #000;
  --cursor-color: #d8b384;
  --heading-font-family: "Abel", sans-serif;
  --body-font-family: "Roboto", sans-serif;
  --alternative-font-family: "Inter", sans-serif;
}

body {
  background: var(--background-color);
  padding-top: 200px;
  padding-bottom: 200px;
  font-family: var(--alternative-font-family);
}
header {
  padding: 40px;
  text-align: center;
}
h1 {
  font-size: 35px;
  font-weight: 300;
}
h3 {
  font-size: 25px;
  font-weight: 150;
}
h2 {
  font-weight: 100;
  font-size: 35px;
}
p,
a {
  font-weight: 100;
  font-size: 25px;
}

a {
  text-decoration: none;
  color: var(--default-color);
}
a:hover {
  cursor: cell;
  color: var(--cursor-color);
}

img {
  max-width: 100%;
  height: auto;
}
footer {
  margin: 90px 0;
}
footer .social-links a {
  margin: 0 20px;
  color: var(--button-main-color);
  padding: 10px;
  font-size: 25px;
  border-radius: 50%;
  transition: all 150ms ease;
}
footer .social-links a:hover {
  color: var (var(--projects-page-color));
  background: var (var(--button-color));
}
footer .contact-box {
  background: var(--cursor-color);
  padding: 20px 200px;
  border-radius: 5px;
  margin: 130px;
}

footer .contact-box p {
  margin: 0;
}
.mt-5 {
  padding-top: 60px;
  text-align: center;
}
.about-page {
  background: var(--cursor-color);
}
.projects-page {
  background: var(--projects-page-color);
}

.contact-page {
  background: var(--contact-page-color);
}
.netlify-link {
  font-weight: 250;
}
.navbar-light {
  margin-left: 0px;
}
.navigation-links {
  display: flex;
  justify-content: flex-end;
}

.btn-branding {
  background: var(--button-color-main);

  color: var(--button-color);
  font-size: 18px;
  margin-top: 30px;
  margin-bottom: 50px;
  line-height: 25px;
  padding: 15px 35px;
  font-family: var(--alternative-font-family);
}
.btn-branding:hover {
  color: var(--cursor-color);
}
.row--homepage-about {
  padding-top: 50px;
  text-align: start;
}
.row-about-page {
  margin-top: -30px;
}
@media (max-width: 576px) {
  h1 {
    font-size: 25px;
  }
  h2 {
    font-size: 20px;
  }
  h3 {
    font-size: 15px;
    font-weight: 200;
  }
  .projects {
    margin-top: 2px !important;
  }
  .btn-branding {
    font-size: 15px;
    padding: 10px 15px;
    font-weight: 200;
  }
  .navbar-light {
    margin-left: 0;
  }
}
