* {
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
}
.container {
  overflow-x: hidden;
}
.hero .row {
  display: flex;
  align-items: center;
}
section {
  margin-bottom: 100px;
}

@font-face {
  font-family: "Swomp";
  src: url("../fonts/swomp-sloppy.ttf") format("truetype");
  font-weight: lighter;
  font-style: normal;
}
/* Color Palette */
:root {
  --background-color: #f6e6cb;
  --accent: #9b480c;
  --text: #1a1a1a;
  --soft: #f3e3c8;
}
/* Global Styles */
body {
  padding-top: 80px;
  padding-bottom: 60px;
  font-family: "Inter", sans-serif;
  background: var(--background-color);
  line-height: 1.6;
  color: var(--text);
}
/* Navbar */
.navbar {
  background: var(--accent) !important;
}

.navbar-brand {
  font-family: "Swomp", sans-serif;
  font-size: 28px;
  color: orange !important;
  letter-spacing: 2px;
}
.navbar .nav-link {
  color: #f6e6cb !important;
  font-size: 16px;
  margin-left: 20px;
  letter-spacing: 1px;
}
.navbar .nav-link:hover {
  color: white !important;
}
.navbar .nav-link.active {
  color: orange !important;
}

/* Typography */
h1 {
  font-size: 64px;
}
h2 {
  font-size: 36px;
}
h3 {
  font-size: 24px;
}
p {
  font-weight: 100;
  font-size: 20px;
  line-height: 1.7;
}
img {
  max-width: 100%;
  height: auto;
}

/* Links */
a {
  text-decoration: none;
  color: var(--text);
}
a:hover {
  cursor: cell;
  color: var(--accent);
}
/* Buttons */
.btn-branding,
.btn-about {
  background: transparent;
  color: var(--accent) !important;
  padding: 8px 0;
  border: none;
  font-size: 16px;
  letter-spacing: 1px;
  position: relative;
}
.btn-about:hover,
.btn-branding:hover {
  color: var(--accent) !important;
  background: transparent;
}
.btn-branding::after,
.btn-about::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 1px;
  bottom: -4px;
  left: 0;
  background: var(--accent);
  transition: 0.3s;
}

.btn-branding:hover::after,
.btn-about:hover::after {
  width: 100%;
}
/* Hero-homepage section */
.hero-name {
  font-size: 64px;
  font-family: "Swomp";
  color: var(--accent);
  margin-bottom: 10px;
  line-height: 1;
}
.hero-headline {
  font-size: 18px;
  color: #9b480c;
  letter-spacing: 1.5px;
  line-height: 1;
  font-weight: light;
  max-width: 400px;
  font-weight: 400;
  opacity: 0.8;
}
.hero {
  display: grid;
  gap: 40px;
  margin-top: 80px;
}
.hero-location {
  font-size: 14px;
  opacity: 0.6;
  margin-bottom: 10px;
}
.hero-text {
  max-width: 450px;
}
.hero-description {
  margin: 20px 0;
  max-width: 400px;
  font-size: 16px;
  opacity: 0.7;
}
.hero-image {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 8px;
  position: relative;
  z-index: 1;
}
.hero-visual {
  display: flex;
  justify-content: center;
  position: relative;
  overflow: visible;
}

.homepage-links {
  margin-top: 15px;
  margin-bottom: 8px;
  display: flex;
  gap: 20px;
  font-weight: 500;
  opacity: 0.8;
}
.homepage-links a {
  font-size: 16px;
  color: var(--accent);
  border-bottom: 1px solid transparent;
  position: relative;
}

.homepage-links a:hover {
  border-bottom: 1px solid var(--accent);
}

.homepage-links a:hover::after {
  width: 100%;
}
/* Hero-images */

.collage {
  position: absolute;
  bottom: -30px;
  right: 0;
  display: flex;
  gap: 10px;
  z-index: 2;
}

.collage img {
  width: 80px;
  border-radius: 6px;
  height: 100px;
  object-fit: cover;
}
.collage-item:hover {
  opacity: 1;
  animation: float 0.5s ease-in-out infinite;
}
.collage-item:nth-child(2) {
  height: 140px;
}
.collage-item:nth-child(3) {
  height: 90px;
}

/*Floating imagebottoms - hero section */
@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

/* About Section */
.about-section {
  position: relative;
  z-index: 2;
}
.about-section .btn-branding {
  display: inline-block;
  margin-bottom: 20px;
  max-width: 460px;
}
.about-section .btn-branding {
  display: inline-block;
  margin-top: 10px;
}
.about-text {
  max-width: 520px;
}
.about-text p {
  font-size: 18px;
  line-height: 1.6;
}
.about-intro {
  font-size: 22px;
  color: var(--accent);
  letter-spacing: 1px;
  font-weight: 400;
}
.about-intro::before {
  content: "—";
  margin-right: 8px;
}
.about-image {
  max-width: 320px;
  border-radius: 8px;
}
.about-subtitle {
  margin-top: 20px;
  color: #9b480c;
  font-weight: 400;
}
/*Floating images about section */

.about-gallery-left,
.about-gallery-right {
  position: absolute;
  top: 0;
  width: 100px;
  opacity: 0.3;
  z-index: 0;
}

.about-gallery-left {
  left: 10px;
  animation: scrollDown 20s linear infinite;
}

.about-gallery-right {
  right: 10px;
  animation: scrollUp 20s linear infinite;
}

@keyframes scrollDown {
  0% {
    transform: translateY(-600px);
  }
  100% {
    transform: translateY(600px);
  }
}
@keyframes scrollUp {
  0% {
    transform: translateY(600px);
  }
  100% {
    transform: translateY(-600px);
  }
}

/* ABOUT BLOCKS */
.about-block {
  background: var(--soft);
  padding: 18px;
  border-radius: 10px;
  margin-bottom: 16px;
  max-width: 460px;
}

.about-block h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.about-block p {
  font-size: 16px;
  line-height: 1.6;
}

/* Projects Section */

.project-card {
  border: none;
  margin: 0 auto 80px auto;
  max-width: 700px;
}
.project-card:hover .project-image {
  transform: scale(1.03);
}
.project-card:nth-child(even) {
  margin-top: 40px;
}

.project-image {
  width: 100%;
  height: 300px;
  border-radius: 8px;
  object-position: center;
  object-fit: cover;
  transition: transform 0.4s ease;
}
.project-image:hover {
  transform: scale(1.02);
  transition: 0.3s ease;
}
.project-title {
  font-size: 26px;
  margin-top: 10px;
}

.project-tech {
  font-size: 11px;
  font-weight: 800;
  text-transform: uppercase;
  opacity: 0.6;
  letter-spacing: 2px;
}

.project-info {
  max-width: 500px;
  margin: 15px auto 0 auto;
}
.project-description {
  font-size: 15px;
  max-width: 500px;
  line-height: 1.6;
  margin-top: 10px;
  margin-bottom: 8px;
}
.project-button {
  display: inline-block;
  border-bottom: 1px solid var(--accent);
  margin-top: 10px;
  margin-bottom: 8px;
}
.project-button:hover {
  opacity: 0.6;
}
.projects-section {
  margin: 0 auto;
  max-width: 1100px;
  padding: 0 20px;
}
.col-lg-4:nth-child(2) {
  margin-top: 60px;
}
.projects-section .row {
  justify-content: center;
}
/*Footer */
footer {
  margin-top: 80px;
  padding: 30px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}
footer .btn-branding {
  background: transparent;
  color: var(--accent) !important;
  border: 1px solid var(--accent);
  padding: 8px 15px;
  font-size: 13px;
}
footer .btn-branding:hover {
  background: var(--accent);
  color: var(--background-color) !important;
}
footer .social-links a {
  font-size: 13px;
  margin-top: 0 10px;
  padding: 10px;
  border-radius: 50%;
  transition: all 150ms ease;
}
footer .contact-box {
  text-align: center;
  margin-top: 40px;
}
footer .contact-box h3 {
  font-size: 14px;
  letter-spacing: 1px;
  margin-bottom: -5px;
  font-weight: 100;
}
footer .footer-note {
  font-size: 12px;
}
.contact-intro {
  opacity: 0.7;
  font-size: 20px;
  margin-top: 10px;
  text-align: center;
}
.contact-hero {
  background-image: url("/images/ivan-gromov-Y3vPEuNlf7w-unsplash.jpg");
  background-size: cover;
  background-position: center;
  padding: 40px 20px;
  border-radius: 6px;
  margin: 40px auto;
  max-width: 700px;
}

.contact-content {
  margin: auto;
  padding: 30px;
  border-radius: 6px;
  text-align: center;
  background: rgba(246, 230, 203, 0.85);
  backdrop-filter: blur(4px);
  max-width: 420px;
  margin: 0 auto;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
}

.contact-content a {
  text-decoration: none;
  color: var(--text) !important;
  border-bottom: 1px solid transparent;
  transition: 0.3s;
  font-size: 16px;
  opacity: 0.6;
}

.contact-content a:hover {
  border-bottom: 1px solid var(--accent);
}
.contact-title {
  font-size: 36px;
  color: #9b480c;
  letter-spacing: 3px;
  text-shadow: 1.5px 1px 0 #d37f35;
  font-weight: bolder;
  margin-bottom: 20px;
}

.contact-content h4 {
  font-size: 16px;
  opacity: 0.6;
  color: #9b480c;
  margin-top: 20px;
}

.contact-box p {
  margin-bottom: 6px;
}
.contact-link {
  display: inline-block;
  font-size: 20px;
  margin-top: 20px;
  color: var(--accent);
  border-bottom: 1px solid var(--accent);
}
.section-title {
  font-family: "Swomp", sans-serif;
  color: #9b480c;
  font-size: 58px;
  text-align: center;
  margin-bottom: 60px;
}

/* Responsive Design */
@media (max-width: 768px) {
  h1 {
    font-size: 40px;
  }
  footer {
    padding: 5px 0;
  }
  footer .contact-box {
    margin-top: 10px;
    margin-bottom: 1px;
  }
  footer .footer-note {
    font-size: 13px;
  }
  .hero {
    gap: 20px;
  }
  .hero-top {
    margin-bottom: 8px;
  }
  .hero-name {
    font-size: 44px;
  }
  .hero-headline {
    font-size: 18px;
    line-height: 1.4;
    max-width: 300px;
  }

  .hero-section {
    gap: 20px;
  }
  .hero-description {
    margin: 15px 0;
    font-size: 15px;
  }
  .homepage-links {
    gap: 10px;
    margin-top: 10px;
  }

  .collage-item {
    height: 70px;
  }

  .hero-image {
    height: 200px;
    font-size: 36px;
  }
  .hero-name {
    font-size: 42px;
  }

  .hero-visual {
    margin-top: 40px;
  }

  .collage {
    position: absolute;
    justify-content: center;
    bottom: -20px;
    left: 50%;
    transform: translate(-50%);
  }

  .project-image {
    height: 260px;
  }
}
